<div ng-controller="bookCtrl">
    <p id="books_header">Books I am reading at the Moment...</p>

    <hr>
    <section id="friends_check">
        <input type="checkbox" ng-model="friend"> <em>Are you a friend?</em>
    </section>

    <table class="table">
        <thead>
            <th>Book</th>
            <th>Author</th>
            <th ng-show="friend">Completion</th>
            <th ng-hide="friend">N/A</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" placeholder="search by book name" ng-model="book">
                </td>
                <td>
                    <input type="text" placeholder="search by author" ng-model="author">
                </td>
                <td ng-show="friend">
                    <input  type="text" placeholder="search by completion" ng-model="completion">
                </td>
                <td ng-hide="friend">
                    N/A
                </td>
                
            </tr>
            <tr ng-repeat="book in books | filter: {'book':book, 'author': author, 'completion': completion } ">
                <td> {{book.book}} </td>
                <td> {{book.author}} </td>
                <td ng-show="friend"> {{book.completion}} </td>
                <td ng-hide="friend">N/A</td>
            </tr>
        </tbody>
    </table>
</div>
